<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="work">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}


            {% for skin in site.data.skins.skins %}
              <h2>{{ skin.name }}</h2>
              <p><strong>Arma:</strong> {{ skin.weapon }}</p>
              <p><strong>Precio:</strong> ${{ skin.price }}</p>
              <p><strong>Rareza:</strong> {{ skin.rarity }}</p>
              <p><strong>Descripción:</strong> {{ skin.description }}</p>
              <p><img src="{{ skin.image }}" alt="{{ skin.name }}" style="max-width: 100px;"></p>
              <hr>
            {% endfor %}

    
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>
